/* ---------------------FORMATAÇÕES GERAIS--------------------*/

body {
    font-family: 'century gothic';
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #000;
}

main {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
    margin-bottom: 0;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

/* --------------------- FORMATAÇÕES LAYOUT PRINCIPAL --------------------*/

#layout-principal.module.parallax {
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.089);
    padding: 0;
    font-family: "Copperplate Gothic";
    font-size: 2em;
}

.module.parallax h2 {
    margin-top: 0;
    margin-bottom: 0;
}


.module.parallax h2 {
    margin-bottom: 0;
}

#corpo {
    margin-top: 90px;
}

/* --------------------- FORMATAÇÕES DIRETAS --------------------*/

section.module h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.336);
}

body::-webkit-scrollbar {
    width: 0px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    height: 5px;
    border-radius: 20px;
    background-color: #fff;
}

/* --------------------- FORMATAÇÕES PARALLAX --------------------*/

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax.parallax-1::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0, rgb(0, 26, 255, 0) 40%, black 100%);
}


/* --------------------- IMAGENS --------------------*/

section.module.parallax-1 {
    background-image: url(/imagens/background-batman.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

section.corpo.parallax-2 {
    background-color: black;
}



/* --------------------- FORMATAÇÕES CAIXA DE CONTEÚDO -------------------*/

.content1 {
    width: 90%;
    height: auto;
    padding: 12px;
    margin: 0 auto;
    display: flex;
    background-color: #000;
    border: 1.5px solid rgba(255, 255, 255, 0.438);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.226);
    transition: 0.95s;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


/* --------------------- FORMATAÇÕES CONTEÚDO -------------------*/

.conteudo h6 {
    color: #fff;
    font-size: 1.2em;
    border-bottom: 1px solid #fff;



}

.conteudo {
    margin: 0 auto;
}

.conteudo h4 {
    color: #fff;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.308);
    width: 70px;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.conteudo p {
    color: #bbbbbb;
}

/* --------------------- FORMATAÇÕES BOTÕES --------------------*/


.botao {
    text-decoration: none;
    color: #fff;
    background-color: #313131;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #fff;
    margin: 20px;
}

.botao:hover {
    filter: brightness(2);
    font-weight: bolder 1200px;
}

/* --------------------- FORMATAÇÕES FOOTER --------------------*/
footer p {
    margin: 0;
    padding: 10px;
}

footer {
    text-align: center;
    color: #fff;
    font-size: 15px;
    height: 1-px;
    background-color: rgb(10, 10, 10);
    margin-top: 10px;
    margin-bottom: 0;
}

/* --------------------- FORMATAÇÕES FOOTER/ICONES --------------------*/

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    height: fit-content;
    padding-top: 5px;
    overflow: hidden;
    margin: 0;
}

.social-icons li {
    margin: 0;
}

.social-icons li a {
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
    text-shadow: 0 0 0px;
}

.social-icons li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 50%;
}

.social-icons li a:hover {
    text-shadow: 0 0 5px;
}


/* --------------------- MEDIA QUERIES --------------------*/
@media (width: 425px) {
    .conteudo p {
        font-size: 0.8em;
    }
}

@media (width: 375px) {
    .conteudo p {
        font-size: 0.8em;
    }
}

@media (width: 320px) {
    .conteudo p {
        font-size: 0.8em;
    }
}